resources/sandbox.schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="EnableOrDisable">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="Enable"/>
      <xs:enumeration value="Disable"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Configuration">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" maxOccurs="1" default="Disable" type="EnableOrDisable" name="vGPU" />
        <xs:element minOccurs="0" maxOccurs="1" default="Enable" type="EnableOrDisable" name="Networking" />
        <xs:element minOccurs="0" maxOccurs="1" default="Enable" type="EnableOrDisable" name="AudioInput" />
        <xs:element minOccurs="0" maxOccurs="1" default="Disable" type="EnableOrDisable" name="VideoInput" />
        <xs:element minOccurs="0" maxOccurs="1" default="Disable" type="EnableOrDisable" name="ClipboardRedirection" />
        <xs:element minOccurs="0" maxOccurs="1" default="Disable" type="EnableOrDisable" name="PrinterRedirection" />
        <xs:element minOccurs="0" maxOccurs="1" default="Disable" type="EnableOrDisable" name="ProtectedClient" />
        <xs:element minOccurs="0" maxOccurs="1" type="xs:byte" name="MemoryInMB" />
        <xs:element minOccurs="0" maxOccurs="1" name="MappedFolders">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MappedFolder" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element type="xs:anyURI" name="HostFolder" />
                    <xs:element minOccurs="0" maxOccurs="1" type="xs:anyURI" name="SandboxFolder" />
                    <xs:element minOccurs="0" maxOccurs="1" default="Disable" type="xs:boolean" name="ReadOnly" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="LogonCommand">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Command" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
